<%-include('../partials/head.ejs')%>

<div class="form-container">
    <h1 class="title-login">Login page</h1>

    <form action="/login" class="form-login" method="post">
        <div class="input-group">
            <label for="username">Username:</label>
            <input type="text" placeholder="Ingrese su usuario" required name="username">
        </div>
        <div class="input-group">
            <label for="password">Password:</label>
            <input type="text" placeholder="Ingrese su contraseña" required name="password">
        </div>

        <button type="submit" class="btn-login">Login</button>
    </form>
    <ul class="list-login">
        <li><a href="/">Home</a></li>
        <li><a href="/register">Register</a></li>
    </ul>
</div>

<%-include('../partials/footer.ejs')%>